<div id="resultPageHeader">
	<div class = "Search">
		<form>
			<input id="text" type="text" value="Look the Book!!" ng-model="bookToSearch.text" ng-keypress="MonitorKeyStroke($event.keyCode)"></input>			
			<div class="myButton" ng-click="StartSearch()">Search</div>
		</form>					
	</div>
</div>
<div id="resultBackground">
	<div id="resultContainer">
		<div class="SearchResults">
			Image</br>
			BookName</br>
			Author</br>
			UserName</br>
			ConnectWithUser</br>					
		</div>
		<div class="SearchResults">
			Image</br>
			BookName</br>
			Author</br>
			UserName</br>
			ConnectWithUser</br>					
		</div>
	</div>
</div>
	
