<div id="resultPageHeader">
	<div class = "Search">
		<form>
			<input id="text" type="text" value="Look the Book!!" ng-model="bookToSearch.text" ng-keypress="MonitorKeyStroke($event.keyCode)"></input>			
			<div class="myButton" ng-click="StartSearch()">Search</div>
		</form>					
	</div>
</div>
<div id="resultBackground">
	<div id="resultContainer">
		<div class="SearchResults" ng-repeat="book in foundBooks">
			{{book.name}}</br>
			{{book.author}}</br>
			{{book.user}}</br>
		</div>					
	</div>
</div>
	
