<html>
	<head>
		<title>Andrea</title>
		<link rel="shortcut icon" href="Images/cutmypic.png" type="image/png">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>		

		<script src="DynamicUi.js" type="text/javascript"></script>

		<script src="AndreaController.js" type="text/javascript"></script>

		<link rel="stylesheet" type="text/css" href="Andrea.css"/>
	</head>
	<body ng-app="AppSearchBook">
		<div ng-controller="searchController">

			<img id="image" ng-src="{{backgroundPhoto}}"/>		
			<div class="Center">
				<!--div id="quote">{{quote}}</div-->
				<div class = "Search">
					<form>
						<input id="text" type="text" value="Look the Book!!" ng-model="bookToSearch.text" ng-keypress="MonitorKeyStroke($event.keyCode)"></input>
						<div class="myButton" ng-click="StartSearch()">Search</div>
					</form>					
				</div>
			</div>
		</div>
	</body>
</html>